{% extends "NewRecruits/layout.html" %}
{% load static %}
{% block title %}
التمام اليومي
{% endblock %}
{% block body %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div dir="rtl" class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                تمام اليوم الموافق  {{ today|date:"l d F Y" }}
                            </h4> <br>
                            <table dir="rtl" class="table table-bordered dt-responsive nowrap"
                            id="datatable-buttons"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead class="table-dark">
                                <tr>
                                 
                                    <th>
                                        البيان
                                    </th>
                                    <th>
                                       ضباط
                                    </th>
                                    <th>
                                        صف
                                    </th>
                                    <th>
                                       جنود
                                    </th>

                                    <th>
                                        المدنيين
                                     </th>

                                    <th>
                                        إجمالي
                                     </th>

                                </tr>
                            </thead>
                            <tbody>
                               
                                <tr>
                                    <td>
                                      قوة
                                    </td>
                                   
                                        <td>{{total_officers}}</td>
                                        <td>{{total_nco}}</td>
                                        <td>{{total_soldiers}}</td>
                                        <td>{{total_civilians}}</td>
                                        <td>{{ total_staff }}</td>
                                    
                                 
                                </tr>

                                <tr>
                                    <td>
                                       موجود
                                    </td>
                                    <td>{{present_officer}}</td>
                                    <td>{{present_nco}}</td>
                                    <td>{{present_soldiers}}</td>
                                    <td>{{present_civilians}}</td>
                                    <td>{{present_staff}}</td>
                                </tr>

                                <tr>
                                    <td>
                                       خارج
                                    </td>
                                    <td>{{outside_officers}}</td>
                                    <td>{{outside_nco}}</td>
                                    <td>{{outside_soldiers}}</td>
                                    <td>{{outside_civilians}}</td>
                                    <td>{{total_outside}}</td>
                                </tr>

                                <tr>
                                    <td>
                                       اجازات
                                    </td>
                                    <td>{{leave_officers}}</td>
                                    <td>{{leave_nco}}</td>
                                    <td>{{leave_soldiers}}</td>
                                    <td>{{leave_civilians}}</td>
                                    <td>{{ongoing_leaves}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        مأمورية
                                    </td>
                                    <td>{{mission_officers}}</td>
                                    <td>{{mission_nco}}</td>
                                    <td>{{mission_soldiers}}</td>
                                    <td>{{mission_civilians}}</td>
                                    <td>{{ongoing_missions}}</td>
                                </tr>
                     
                            </tbody>
                        </table> <br>
                            

                        <table dir="rtl" class="table table-bordered dt-responsive nowrap"
                        id="datatable-buttons"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead class="table-dark">
                            <tr>
                             
                                <th>
                                    #
                                </th>
                                <th>
                                   الترتيب
                                </th>
                                <th>
                                    الأسم
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for name in present_staff_names%}
                            <tr>
                            <td>
                              {{forloop.counter}}
                            </td>
                            
                                <td>
                                    {{name.get_soldier_rank_display}}
                                </td>
                                
                                <td>
                                    <a class="text-body" href="{% url 'NewRecruits:profile' person_id=name.id %}">
                                        {{name.name }}
                                    </a>
                                </td>
                            </tr>
                         {%endfor%}
                 
                        </tbody>
                    </table> <br>

                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}